# Consul
config/monitor/consul/data
config/monitor/consul/logs

# Loki
config/monitor/loki/cache
config/monitor/loki/chunks
config/monitor/loki/compactor
config/monitor/loki/index
config/monitor/loki/rules
config/monitor/loki/wal

# Promtail
config/monitor/promtail/logs

# Grafana
config/monitor/grafana/logs

# Logs
logs